body {
    font-family: Arial, sans-serif;

    background-image: url("images/iris.png");
    background-size: contain;
    background-position: center;
    background-repeat: repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #c595ed;
    padding: 25px;
    width: 600px;
    border-radius: 25px;
    box-shadow: 0 4px 10px rgba(68, 4, 82, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    font-size: 14px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    margin: 6px 0 12px 0;
    border-radius: 4px;
    border: 3px solid #7627a7;
    background-color:#e0d2ea;
    align-content: center;
}

button {
    width: 100%;
    padding: 20px;
    background-color: #8557a6;
    color: rgb(246, 207, 250);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #4d136d;
}

#result {
    margin-top: 15px;
    text-align: center;
    font-weight: bold;
}

.history-btn {
    background-color: #8557a6;
     margin-top: 10px;
}

.history-btn:hover {
    background-color: #4d136d;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

th, td {
    border: 1px solid #7036ce;
    padding: 6px;
    text-align: center;
}

th {
    background-color: #c595ed;
    font-weight: bold;
}

button {
    padding: 5px 8px;
    font-size: 12px;
    cursor: pointer;
    margin-bottom: 5px;
}
